@import "./variables";

@mixin btnDefault {
	border: 2px solid transparent;
	cursor: pointer;
	&:hover {
		color: $accent;
		border: 2px solid $accent;
		background: none;
	}
}

@mixin linkDefault {
	border: none;
	cursor: pointer;

	&:hover {
		color: $accent;
	}
}
