@import "./variables";

@mixin container {
  width: 60vw;
  height: 100%;
  margin: auto;
  padding-top: 2.25rem;
  padding-bottom: 4.5rem;

  display: flex;
  flex-direction: column;
}

@mixin btnDefault {
  border: 3px solid transparent;
  cursor: pointer;
  &:hover {
    color: $accent;
    border: 2px solid $accent;
    background: none;
  }
}

@mixin linkDefault {
  border: none;
  cursor: pointer;

  &:hover {
    color: $accent;
  }
}