@import "./mixins";

.container {
    @include container;

    h2 {
      margin-bottom: 1.5rem;
    }

    p {
      font-size: 1.13rem;
      line-height: 200%;
    }
}

@media screen and (max-width: 568px) {
  .container {
    padding: 0 4vw;
    text-align: left;
    width: 100%;
    margin: auto;
  }
}